* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 10px;
}

a {
  color: black;
  text-decoration: none;
}

.row {
  padding: 0;
  --bs-gutter-x: 0;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: 10%;
}

@media (min-width: 992px) {
  .containerBox {
    display: flex;
    max-width: 1920px;
    width: 100vw;
  }
}

@media (min-width: 992px) {
  .navigation {
    display: flex;
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid black;
    box-shadow: 0 1px 21px rgba(0, 0, 0, 0.0520088);
  }
}
.navigation__list {
  overflow: hidden;
  background-color: #FFFFFF;
}
@media (min-width: 992px) {
  .navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
  }
}
.navigation a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navigation__elementList:hover {
  background-color: #920303;
  color: #FFFFFF;
  border-radius: 10px;
}
.navigation__elementList:hover a {
  color: #FFFFFF;
}

.navigation__list a.active {
  background: url("../img/l.png");
  width: 48px;
  height: 47px;
  display: block;
}

.navigation__list li {
  display: none;
}

.navigation__list a.icon {
  float: right;
}

.navigation__list.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: 992px) {
  .navigation__list li {
    display: block;
  }
  .navigation__list a.icon {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .navigation__list.responsive {
    position: relative;
  }
  .navigation__list.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigation__list.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
.swiper {
  width: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.box1 {
  flex-grow: 2;
  height: 300px;
  font-size: 16px;
}

.responsiveSwiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .responsiveSwiper {
    flex-direction: row;
  }
}

.swiper__box {
  padding-left: 10%;
  padding-top: 10%;
  max-height: 500px;
  height: 400px;
}
.swiper__box a {
  padding: 15px 40px;
}
.swiper__text {
  text-align: left;
  font-size: 1rem;
}
.swiper__text p {
  padding-top: 20px;
}
.swiper h1 {
  font-size: calc(1.5rem + 2vw);
}
.swiper h1 a {
  background: #000000;
  color: #FFFFFF;
  padding: 0 5px;
}

.banners {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  flex-wrap: nowrap;
  height: 30px;
}
@media (min-width: 992px) {
  .banners {
    width: 1320px;
  }
}
.banners img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
}
.banners :nth-child(2) {
  height: 19px;
}

.banners::-webkit-scrollbar {
  display: none;
}

.boxes {
  padding: 0 10px;
}
@media (min-width: 992px) {
  .boxes {
    display: flex;
    justify-content: space-evenly;
    height: 415px;
  }
}
.boxes__element {
  position: relative;
  color: #FFFFFF;
  max-width: 935px;
  width: 100%;
  height: auto;
}
.boxes img {
  width: 100%;
  height: auto;
}
.boxes__text {
  position: absolute;
  top: 0;
  line-height: 20px;
  font-size: 14px;
  padding: 8% 12%;
}
@media (min-width: 768px) {
  .boxes__text {
    line-height: 32px;
    padding: 10% 12%;
    font-size: 1rem;
  }
}
.boxes__elementA {
  display: inline-block;
  color: #FFFFFF;
  background: #000000;
  padding: 0 5px;
}
.boxes__elementB {
  display: inline-block;
  color: #FFFFFF;
  background: #920303;
  padding: 0 5px;
}
.boxes__icons {
  display: flex;
  width: 25px;
  margin-right: 5px;
  position: relative;
  top: -15px;
}
.boxes__icon {
  margin-right: 10px;
}

.button {
  background: #920303;
  padding: 2% 11%;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 14px;
  border-radius: 10px;
  position: absolute;
}
.button-firstBox {
  bottom: 10px;
}
.button-secondBox {
  bottom: 15px;
}
@media (min-width: 768px) {
  .button {
    padding: 3% 12%;
  }
  .button-firstBox {
    bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */
