@import "settings/colors";
@import "settings/variables";
@import "settings/resetStyle";
//navigation

.containerBox {
  margin: 0 auto;
  @media (min-width: $desktop) {
    display: flex;
    max-width: 1920px;
    width: 100vw;
  }
}

.navigation {
  box-sizing: border-box;
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 80px;
    margin: 0 90px;
    box-shadow: 0 1px 21px rgba(0, 0, 0, 0.0520088);
  }

  &__list {
    overflow: hidden;
    background-color: $color-white;
    @media (min-width: $desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      &-firstList {
        width: 900px;
        justify-content: space-evenly;
      }

    }
  }

  a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
    font-size: 16px;
  }

  &__elementList {
    padding: 10px;
    &:hover {
      background-color: $color-buttons;
      color: $color-white;
      border-radius: 10px;
      padding: 10px;
      a {
        color: $color-white
      }
    }
  }

}

.navigation__list a.active {
  background: url("../img/l.png");
  width: 48px;
  height: 47px;
  display: block;
}


.navigation__list li {
  display: none;
}

.navigation__list a.icon {
  float: right;
}

.navigation__list.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (min-width: $desktop) {
  .navigation__list li {
    display: block;
  }
  .navigation__list a.icon {
    display: none
  }

}

@media screen and (max-width: $desktop) {
  .navigation__list.responsive {
    position: relative;
  }
  .navigation__list.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigation__list.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}


//swiper
.swiper {
  width: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.box1 {
  flex-grow: 2;
  height: 300px;
  font-size: 16px;
}

.responsiveSwiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $desktop) {
    flex-direction: row;
  }
}

.swiper {
  &__box {
    padding-left: 10%;
    padding-top: 10%;
    max-height: 500px;
    height: 400px;

    a {
      padding: 15px 40px;
    }
  }

  &__text {
    text-align: left;
    font-size: 1rem;

    p {
      padding-top: 20px;
    }
  }

  h1 {
    font-size: calc(1.5rem + 2vw);

    a {
      background: $color-mainFonts;
      color: $color-white;
      padding: 0 5px;
    }
  }
}


//banners
.banners {
  animation: float 6s ease-in-out infinite;
  @media (min-width: $desktop) {
    animation: none;
  }
  margin: 0 auto;
  display: flex;
  align-items: center;
  //overflow-x: auto;
  height: 80px;
  width: 100vw;
  @media (min-width: $desktop) {
    padding: 0 200px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
  }

  :nth-child(2) {
    height: 19px;
  }
}

.banners::-webkit-scrollbar {
  display: none;
}

.boxes {
  padding: 0 10px;
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-evenly;
    height: 415px;

  }

  &__element {
    position: relative;
    color: $color-white;
    max-width: 935px;
    width: 100%;
    height: auto;

  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    top: 0;
    line-height: 20px;
    //font-size: calc(.7rem + 1px);
    font-size: 14px;
    padding: 8% 12%;

    @media (min-width: $tablet) {
      line-height: 32px;
      padding: 10% 12%;
      font-size: 1rem;
    }
  }

  &__elementA {
    display: inline-block;
    color: $color-white;
    background: $color-mainFonts;
    padding: 0 5px;
  }

  &__elementB {
    display: inline-block;
    color: $color-white;
    background: $color-buttons;
    padding: 0 5px;
  }

  &__icons {
    display: flex;
    width: 25px;
    margin-right: 5px;
    position: relative;
    top: -15px;
  }

  &__icon {
    margin-right: 10px;
  }
}

.button {
  background: $color-buttons;
  padding: 2% 11%;
  color: $color-white;
  font-size: 14px;
  line-height: 14px;
  border-radius: 10px;
  position: absolute;

  &-firstBox {
    bottom: 10px;
  }

  &-secondBox {
    bottom: 15px;
  }

  @media (min-width: $tablet) {
    padding: 3% 12%;
    &-firstBox {
      bottom: 30px;
    }
  }
}

