* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0 10px;
}
a {
  color: black;
  text-decoration: none;
}
.row {
  padding: 0;
  --bs-gutter-x: 0;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  width: 10%;
}